@media (min-width: 360px) and (max-width: 767px) {
    /* ===================== Main ===================== */
    html {
        width: 100%;
        overflow-x: hidden;
    }

    body {
        background-color: #090909ff;
        color: #fff;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        max-width: none;
    }

    /* ===================== Section 1 ===================== */
    .sectionOneInfo {
        padding: 10px;
        background-color: rgb(60, 60, 60, .5);
        border-radius: 10px;
        height: 20vh;
        width: 60vw;
        max-width: none;
        border: white 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sectionOneInfo h1 {
        color: white;
        font-size: 20px;
        letter-spacing: .2em;
    }

    .sectionOneInfo h2 {
        color: white;
        font-size: 12px;
        letter-spacing: .2em;
    }

    /* ===================== Section 2 ===================== */
    .sectionTwoInfo {
        padding: 10px;
        background-color: rgb(60, 60, 60, .5);
        border-radius: 10px;
        height: 90vh;
        width: 90vw;
        max-width: none;
        border: white 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
    }

    .profPic {
        width: 30%;
        border: 2px #fff solid;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        padding: 5px;
        text-align: center;
        font-size: 10px;
        letter-spacing: normal;
    }

    .aboutMe p {
        text-align: left;
    }

    /* ===================== Section 3 ===================== */
    .sectionThreeInfo {
        padding: 10px;
        background-color: rgb(60, 60, 60, 0.5);
        border-radius: 10px;
        height: 90vh;
        width: 90vw;
        border: white 2px solid;
    }

    .sectionThreeInfo h1 {
        font-size: 20px;
    }

    .sectionThreeInfo h2 {
        padding: 5px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        gap: 10px;
        flex-direction: column;
    }

    .projectItem {
        height: 100%;
        width: 100%;
        padding: 5px;
        background: #2e2e2e;
        border: #000 2px solid;
        transition: transform .1s;
    }

    .projectItem h2 {
        font-size: 12px;
    }

    .projectItem li {
        display: none;
    }

    .w3-display-bottommiddle {
        width: 100%;
    }

    .projectImg {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        /*display: none;*/
    }

    .listArea {
        height: 5vh;
    }

    ul {
        list-style-type: none;
    }

    li {
        text-align: left;
        padding: 10px
    }

    /* ===================== Footer ===================== */
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .footer h1 {
        font-size: 20px;
    }

    .sectionFourInfo {
        padding: 10px;
        background-color: rgb(60, 60, 60, .5);
        border-radius: 10px;
        height: 13vh;
        width: 90vw;
        max-width: none;
        border: white 2px solid;
    }

    i {
        color: #3c3c3c;
        height: 40px;
        width: 50px;
        justify-content: center;
        align-content: center;
        margin: 0;
        display: flex;
    }

    /* ===================== Transitions ===================== */
    .fade {
        transition: opacity 3s ease;
        opacity: 0;
    }

    .fade-in {
        opacity: 1;
    }

    .fade-out {
        opacity: 0;
    }
}